Source: novacut
Section: python
Priority: optional
Maintainer: Jason Gerard DeRose <jderose@novacut.com>
Build-Depends: debhelper (>= 8.9), python3 (>= 3.2),
    python3-microfiber (>= 11.09),
    python3-gobject,
    gir1.2-gstreamer-0.10,
    gstreamer0.10-plugins-good,
    gstreamer0.10-gnonlin,
    gstreamer0.10-ffmpeg,
Standards-Version: 3.9.2
X-Python-Version: 3.2
X-Python3-Version: 3.2
Homepage: https://launchpad.net/novacut

Package: python3-novacut
Replaces: python-novacut
Conflicts: python-novacut
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.2),
    python3-microfiber (>= 11.09),
    python3-gobject,
    gir1.2-gstreamer-0.10,
    gstreamer0.10-plugins-good,
    gstreamer0.10-gnonlin,
    gstreamer0.10-ffmpeg,
Recommends: gstreamer0.10-plugins-ugly, gstreamer0.10-plugins-bad
Description: the collaborative video editor
 FIXME.
