*{
	margin:0px;
	padding:0px;
	line-height:1em;
	font-family:Lato, Ubuntu, sans-serif;
}

body{
	background:#111;
}

.player{
	width:480px;
	height:341px;
	border-radius:5px;
	background:#e81f3b;
}

.player .videohead{
	background:#333;
	background:linear-gradient(top, #444, #333);
	background:-webkit-linear-gradient(top, #444, #333);
	height:20px;
	padding-top:4px;
	padding-bottom:2px;
	font-size:14px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	color:#eee;
	text-align:center;
	box-shadow:0px -2px 5px -2px #000;
}

.player.light .videohead, .player.light .controls{
	background:#ccc;
	background:-webkit-linear-gradient(top, #ddd, #bbb);
	box-shadow:0px -2px 5px -2px rgba(0,0,0,0.5);
	color:#301438;
}

.player.light .controls{
	box-shadow:0px 5px 5px -2px rgba(0,0,0,0.5);
}

.player ul.video{
	position:relative;
	height:270px;
	width:480px;
}

.player ul.video li{
	position:absolute;
	top:0px;
	left:0px;
	display:block;
}

.player video{
	background:black;
	width:480px;
	height:270px;
}

.player .controls{
	background:#333;
	background:linear-gradient(top, #444, #333);
	background:-webkit-linear-gradient(top, #444, #333);
	height:35px;
	padding:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow:0px 5px 5px -2px #000;
	text-align:center;
}

.bar{
	background:#333;
	background:linear-gradient(top, #444, #333);
	background:-webkit-linear-gradient(top, #444, #333);
	height:20px;
	padding:5px;
	box-shadow:0px 5px 5px -3px #000;
	border-top:1px solid #555;
}

.clips{
	display:inline-block;
	min-height:90%;
	min-width:100%;
}

.clips li{
	display:inline-block;
	margin:5px;
	padding:5px;
	background:#333;
	border-radius:5px;
	border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #222;
	border-bottom:1px solid #222;
	box-shadow:0px 3px 3px -2px #000;
	float:left;
}

.sliceline li{
	margin-left:0px;
	margin-right:0px;
	border-left:none;
	border-right:none;
	border-radius:0px;
}

.sliceline li:first-child{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-left:1px solid #666;
	margin-left:10px;
}

.sliceline li:last-child{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-right:1px solid #222;
	margin-right:10px;
}

button, .button{
	border:1px solid #222;
	background:transparent;
	border-radius:2px;
	color:#ddd;
	padding:3px 7px 3px 7px;
	border-top:1px solid #555;
	box-shadow:0px 1px #555, 0px -1px #222, inset 0px 1px 7px rgba(255,255,255,0.1);
	text-shadow:0px 0px 1px #111;
	margin:0px 2px 0px 2px;
}

button:hover, .button:hover{
	border-top:#1px solid 666;
	background:rgba(255,255,255,0.1);
}

button:active, .button:active{
	background:rgba(0,0,0,0.1);
	border-top:1px solid #222;
	border-bottom:1px solid #555;
}

button:focus, .button:focus{
	box-shadow:0px 1px #555, 0px -1px #222, 0px 0px 3px 2px #e81f3b, inset 0px 1px 7px rgba(255,255,255,0.1);
	outline:none;
}

button[data-tooltip], .button[data-tooltip]{
	position:relative;
}

button[data-tooltip]:after{
	content:attr(data-tooltip);
	position:absolute;
	top:25px;
	left:50%;
	background:rgba(0,0,0,0.7);
	border:1px solid rgba(255,255,255,0.3);
	z-index:1000;
	box-shadow:0px 2px 5px 1px rgba(0,0,0,0.5);
	padding:3px;
	border-radius:3px;
	font-size:10px;
	opacity:0;
	visibility:hidden;
	text-align:center;
	width:150px;
	margin-left:-75px;
	
}

button[data-tooltip]:hover:after, .button[data-tooltip]:hover:after{
	-webkit-transition:opacity 250ms ease 500ms;
	opacity:1;
	visibility:visible;
}
