body {
    background-color: black;
}

#sequence {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #444;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;

    padding: 10px 5px;
    
    -webkit-user-select: none;
}

.slice {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 5px;

    background-color: white;
    color: black;
    font-family: 'Ubuntu Mono';
    font-size: 18px;
    line-height: 1.6em;
    text-align: center;
    left: 0px;
    -webkit-transition: left 150ms ease-in-out;
}

.right {
    left: 130px;
    -webkit-transition: left 150ms ease-in-out;
    background-color: #c9c;
}

.left {
    left: -130px;
    -webkit-transition: left 150ms ease-in-out;
    background-color: #9cc;
}

.grabbed {
    -webkit-transition-property: none;
    z-index: 10;
    background-color: #ccc;
}

