#sequence {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #444;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;

    padding: 15px;
    
    -webkit-user-select: none;
}

.slice {
    display: inline-block;
    box-sizing: border-box !important;
    width: 120px;
    height: 120px;
    background-color: white;
    color: black;
    margin: 5px;
    font-family: 'Ubuntu Mono';
    font-size: 18px;
    line-height: 1.6em;
    text-align: center;
}

.dummy {
    display: inline-block;
    box-sizing: border-box !important;
    width: 120px;
    height: 120px;
    background-color: #ddd;
    color: black;
    margin: 5px;
    font-family: 'Ubuntu Mono';
    font-size: 18px;
    line-height: 1.6em;
    text-align: center;
}


.grabbed {
    position: relative;
    z-index: 10;
    background-color: #ccc;
}

