#bucket {
    position: fixed;
    top: 0;
    bottom: 218px;
    left: 0;
    right: 0;
    background-color: #fdd;
}



#sequence {
    position: fixed;
    height: 218px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ddf;
    
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
}

.slice {
    display: inline-block;
    overflow: hidden;
    border: 1px solid #333;
}

.frame {
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;

    padding: 0 6px;
    text-align: right;
    font-family: "Ubuntu Mono";
    line-height: 1.6em;
    font-weight: bold;
    color: white;
    background-color: black;
    text-shadow: 0px 0px 10px black;

    cursor: default;

    pointer-events: none;
    
    width: 192px;
    height: 108px;
    font-size: 14px; 
}

.over {
    -webkit-transition: margin-left 100ms ease-in-out;
    margin-left: 194px;
}

.grabbed {
    position: fixed;
    z-index: 1;
}

.slice.bucket {
    position: absolute;
}

.slice.bucket .frame {
    width: 128px !important;
    height: 72px !important;
}


