#bucket {
    position: fixed;
    top: 0;
    bottom: 218px;
    left: 0;
    right: 0;
    background-color: #777;
}



#sequence {
    position: fixed;
    height: 218px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
}

.slice {
    display: inline-block;
    overflow: hidden;
    border: 1px solid #ddd;
}


.frame {
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;

    padding: 0 6px;
    text-align: right;
    font-family: "Ubuntu Mono";
    line-height: 1.6em;
    font-weight: bold;
    color: white;
    background-color: black;
    text-shadow: 0px 0px 10px black;

    cursor: default;

    pointer-events: none;
    
    width: 192px;
    height: 108px;
    font-size: 14px;
}

.bucket .frame {
    width: 128px;
    height: 72px;
}

.bucket {
    position: absolute;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    -webkit-transition-property: left, top;
}

.over {
    margin-left: 194px;
}

.over-right {
    margin-right: 194px;
}


.right {
    position: relative;
    left: 194px;
}

.left {
    position: relative;
    left: -194px;
}

.animated {
    position: relative;
    -webkit-transition: left 150ms ease;
}

.grabbed {
    -webkit-transition-property: none !important;
    position: fixed !important;
    z-index: 1;
}


