#sequence {
    font-size: 0;
}

.slice {
    margin: 4px;
    display: inline-block;
    background-color: #ccc;
    border: 1px solid white;
}


.frame {
    position: relative;
    background-color: #333;
}

.frame img {
    margin: 0;
    padding: 0;
    display: block;
    width: 256px;
    height: 144px;
}


.frame div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2px 6px;

    text-align: right;
    font-family: "Ubuntu Mono";
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.indicator {
    height: 4px;
    background-color: black;
    position: relative;
}

.indicator div {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    background-color: #e81f3b;
}




