.sequence {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #444;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;

    padding: 15px;
}

.slice {
    display: inline-block;
}

.right {
    left: 192px;
    position: relative;
    -webkit-transition: left 150ms ease-in-out;
}

.left {
    left: -192px;
    position: relative;
    -webkit-transition: left 150ms ease-in-out;
}

.neutral {
    left: 0px;
    position: relative;
    -webkit-transition: left 150ms ease-in-out;
}

.grabbed {
    position: relative;
    -webkit-transition-property: none;
    z-index: 10;
}

.home {
    left: 0px;
    z-index: 5;
    position: relative;
    -webkit-transition: left 500ms ease-in-out;
}


.frame {
    position: relative;
    background-color: black;
    
}

.frame img {
    margin: 0;
    padding: 0;
    display: block;
    width: 192px;
    height: 108px;
    pointer-events: none;
    margin: 2px;
}


.frame div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2px 6px;

    text-align: right;
    font-family: "Ubuntu Mono";
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-shadow: 0px 0px 10px black;
    cursor: default;
    
    pointer-events: none;
}

.indicator {
    height: 2px;
    background-color: black;
    position: relative;
    pointer-events: none;
}

.indicator div {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    background-color: #e81f3b;
    pointer-events: none;
}




