* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-sarif;
    font-size: 14px;
    line-height: 24px;
}

body {
    background: #333;
    color: white;
}

input, button {
    padding-left: 4px;
    line-height: 22px;  /* 2px less becaues of 1px border */
    border-radius: 3px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
}

input {
    color: white;
    border:1px solid transparent;
    background: -webkit-linear-gradient(top, #444, #666);
}

button {
    border:none;
    border-top: 1px solid #555;
    color: white;
    background:-webkit-linear-gradient(top, #444, #333);
    font-weight: bold;
}

button:disabled {
    font-weight: normal;
    color:rgba(255,255,255,0.4);
}

input:focus, button:focus {
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3), 0px 0px 0px 1px #e81f3b;
    outline:none;
}

