* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-sarif;
    font-size: 14px;
    line-height: 24px;
}


ul {
    list-style: none;
}

.project {
    margin: 8px;
    display: inline-block;
    background-color: #333;
    color: white;
    font-size: 0;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    cursor: default;
    -webkit-user-select: none;
}

.project.selected {
    box-shadow: 0 0 10px #e81f3b;
}

.project .thumbnail {
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    background-color: #666;
}

.project > div {
    display: inline-block;
    vertical-align: top;
}

.project p {
    font-size: 14px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 224px;
    color: #ddd;
    box-sizing: border-box !important;
}

.project p.title {
    font-weight: bold;
    color: white;
}

