* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-sarif;
    font-size: 14px;
    line-height: 24px;
}


button {
    border-width: 1px;
    padding-left: 4px;  /* 1px less becaues of 1px border */
    line-height: 22px;  /* 2px less becaues of 1px border */
    border-style: solid;
    border-color: #aaa;
    color: white;
    background:-webkit-linear-gradient(top, #aaa, #000);
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
    font-weight: bold;
}

button:disabled, {
    font-weight: normal;
    font-style: italic;
}

input {
    padding-left: 5px;
    color: white;
    background: -webkit-linear-gradient(top, #444, #666);
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}


ul {
    list-style: none;
}

.project {
    margin: 8px;
    display: inline-block;
    background-color: #333;
    color: white;
    font-size: 0;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.5);
    cursor: default;
    -webkit-user-select: none;
}

.project.selected {
    box-shadow: 0 0 10px #e81f3b;
}

.project .thumbnail {
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    background-color: #666;
}

.project > div {
    display: inline-block;
    vertical-align: top;
}

.project p {
    font-size: 14px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 224px;
    color: #ddd;
    box-sizing: border-box !important;
}

.project p.title {
    font-weight: bold;
    color: white;
}

